<div class="register-box">
    <div class="register-logo">
        <a href="../../index2.html"><b>ลงทะเบียนผู้ใช้</b></a>
    </div>

    <div class="register-box-body">
        <!-- <p class="login-box-msg">Register a new membership</p> -->

        <form action="../../index.html" method="post">
            <div class="form-group has-feedback">
                <input type="text" class="form-control " placeholder="ชื่อ-สกุล" [(ngModel)]="name" name="name">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" >
                <input type="text" class="form-control" placeholder="Username"   (change)="check_username(username)" [(ngModel)]="username" name="username">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" (change)="check_pass()" [(ngModel)]="password" name="password" id="password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Retype password" (change)="check_pass()" [(ngModel)]="Repassword" name="Repassword">
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <!-- <input type="text" class="form-control" placeholder="ที่อยู่" [(ngModel)]="address" name="address"> -->
                <textarea [(ngModel)]="address" name="address" placeholder="ที่อยู่" class="form-control" rows="4" cols="50"></textarea>
                <span class="fa fa-map form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" (input)="inputValidator($event)" placeholder="เบอร์โทรศัพท์" [(ngModel)]="phone" name="phone">
                <span class="fa fa-phone-square form-control-feedback"></span>
            </div>
            <div class="form-group">
                <label>สถานะผู้ใช้</label>
                <select class="form-control select2" style="width: 100%;" [(ngModel)]="statusUser" name="statusUser">
                  <option value="1" selected="selected">เกษตกร</option>
                  <option value="2">เจ้าหน้าที่สหกรณ์</option>
                  <option value="3">ผู้รับซื้อน้ำยาง</option>
                </select>
            </div>

            <div class="row" style="margin-top: 20%;">
                <div class="col-xs-8">
                </div>
                <div class="col-xs-4">
                    <a (click)="link(01)"  type="submit" class="btn btn-primary btn-block btn-flat" >กลับสู่หน้าLogin</a>
                </div>
                <div class="col-xs-4">
                    <button (click)="onSubmit()" type="submit" style="margin-left: 100%;" class="btn btn-primary btn-block btn-flat">ลงทะเบียน</button>
                </div>
               
            </div>
        </form>
    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->