<app-appheader-farmer></app-appheader-farmer>
<app-appmenu-farmer></app-appmenu-farmer>
<div class="content-wrapper">
    <section class="content-header">
        <h1>
          เพิ่มสวนยางพารา
          <small></small>
        </h1>
      </section>
  <div class="row" id="margin">
    <div class="col-md-3" style="text-align: right;margin-top: 5px">
      ชื่อแปลง:
    </div>
    <div class="col-md-4">
      <div style="display: flex">
        <input type="text" class="form-control" id='01' (keyup)="checkinput1($event,02)" />
      </div>
    </div>
  </div>
  <div class="row" id="margin" >
    <div class="col-md-3" style="text-align: right;margin-top: 5px">
      ที่อยู่:
    </div>
    <div class="col-md-4">
      <div style="display: flex">
        <textarea [(ngModel)]="address" rows="4" cols="50"></textarea>
      </div>
    </div>
  </div>
  <div class="row" id="margin">
    <div class="col-md-12" id="map">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
        (mapClick)="mapClick($event)">
        <agm-marker  [latitude]="mapClick_lat"    [longitude]="mapClick_lng">
          <agm-info-window>
            ละติจูด:{{mapClick_lat}}<br>
            ลองจิจูด:{{mapClick_lng}}
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="row" id="margin">
    <div class="col-md-3" style="text-align: right;margin-top: 5px">
      ละติจูด:
    </div>
    <div class="col-md-4">
      <div style="display: flex">
        <input type="text" class="form-control" id='01' [(ngModel)]="mapClick_lat" (keyup)="checkinput1($event,02)" />
      </div>
    </div>
  </div>
  <div class="row" id="margin">
    <div class="col-md-3" style="text-align: right;margin-top: 5px">
      ลองจิจูด:
    </div>
    <div class="col-md-4">
      <div style="display: flex">
        <input type="text" class="form-control" id='01' [(ngModel)]="mapClick_lng" (keyup)="checkinput1($event,02)" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button _ngcontent-c6="" class="btn btn-oval btn-danger ripple" type="button">
        <span class="md-ripple"></span>ค้นหา
      </button>
    </div>
  </div>

</div>
