<app-appheader-farmer></app-appheader-farmer>
<app-appmenu-farmer></app-appmenu-farmer>
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            เพิ่มสวนยางพารา
            <small></small>
        </h1>
    </section>
    <div class="row" id="margin">
        <div class="col-md-3" style="text-align: right;margin-top: 5px">
            ชื่อแปลง:
        </div>
        <div class="col-md-4">
            <div style="display: flex">
                <input type="text" class="form-control" [(ngModel)]="dataset.namePlantation" />
            </div>
        </div>
    </div>

    <div class="row" id="margin">
        <div class="col-md-12" id="map">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClick($event)">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="false">
                    <agm-info-window>
                        ละติจูด:{{dataset.mapClick_lat}}<br> ลองจิจูด:{{dataset.mapClick_lng}}
                    </agm-info-window>
                </agm-marker>
            </agm-map>
        </div>
    </div>

    <!-- <h5>Address: {{address}}</h5>
    <div>Latitude: {{latitude}}</div>
    <div>Longitude: {{longitude}}</div> -->

    <div class="row" id="margin">
        <div class="col-md-3" style="text-align: right;margin-top: 5px">
            ที่อยู่:
        </div>
        <div class="col-md-4">
            <div style="display: flex">
                <textarea [(ngModel)]="dataset.addressRubberPlantation" rows="4" cols="60"></textarea>
            </div>
        </div>
    </div>
    <div class="row" id="margin">
        <div class="col-md-3" style="text-align: right;margin-top: 5px">
            ตำบล:
        </div>
        <div class="col-md-4">
            <div style="display: flex">
                <input type="text" class="form-control" [(ngModel)]="dataset.tumbol" />
            </div>
        </div>
    </div>
    <div class="row" id="margin">
        <div class="col-md-3" style="text-align: right;margin-top: 5px">
            อำเภอ:
        </div>
        <div class="col-md-4">
            <div style="display: flex">
                <input type="text" class="form-control" [(ngModel)]="dataset.amphoe" />
            </div>
        </div>
    </div>
    <div class="row" id="margin">
        <div class="col-md-3" style="text-align: right;margin-top: 5px">
            จังหวัด:
        </div>
        <div class="col-md-4">
            <div style="display: flex">
                <input type="text" class="form-control" [(ngModel)]="dataset.province" />
            </div>
        </div>
    </div>
    <div class="row" id="margin">
        <div class="col-md-3" style="text-align: right;margin-top: 5px">
            ละติจูด:
        </div>
        <div class="col-md-4">
            <div style="display: flex">
                <input type="text" class="form-control" [(ngModel)]="dataset.mapClick_lat" />
            </div>
        </div>
    </div>
    <div class="row" id="margin">
        <div class="col-md-3" style="text-align: right;margin-top: 5px">
            ลองจิจูด:
        </div>
        <div class="col-md-4">
            <div style="display: flex">
                <input type="text" class="form-control" [(ngModel)]="dataset.mapClick_lng" />
            </div>
        </div>
    </div>
    <div class="row" id="margin">
        <div class="col-md-3" style="text-align: right;margin-top: 5px">
            รายละเอียด:
        </div>
        <div class="col-md-4">
            <div style="display: flex">
                <input type="text" class="form-control" [(ngModel)]="dataset.detail" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-1">
            <a class="btn btn-oval btn-danger ripple" (click)="link(01)" style="color: white;">
                <span class="md-ripple"></span>ย้อนกลับ
            </a>
        </div>
        <div class="col-md-1">
            <a class="btn btn-oval" (click)="Add_Farm(dataset)" style="color: white;background-color: #28a745;">
                <span></span>บันทึก
            </a>
        </div>
    </div>
</div>