<app-appheader-guest-user></app-appheader-guest-user>
<app-appmenu-guest-user></app-appmenu-guest-user>
<ng-template #get_user_guest>
  <div class="modal-header">
    <h4 class="modal-title pull-left">สวนยาง</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text" placeholder="Search" [(ngModel)]="searhText" class="form-control" /><br>
    <div class="col-md-12 " style="margin-top: 20px;">
      <div class="table-responsive" style="text-align:center; height: 500px;">
        <table border='1' width='100%' class="table table-hover" id="customers">
          <thead>
            <tr>
              <th>ชื่อแปลง</th>
              <th>ที่อยู่</th>
              <th>เบอร์โทรศัพท์</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let any of GET_user_guest|filter:searhText;let i = index" (click)="click_user_guest(any)">
              <td>{{ any.name }}</td>
              <td>{{ any.addressUser }}</td>
              <td>{{ any.phoneNumber }}</td>
            </tr>
          </tbody>
        </table>
        <br>
      </div>
    </div>
  </div>
</ng-template>
<!-- <ng-template #searchPic_plan_guest>
  <div class="modal-header">
    <h4 class="modal-title pull-left">สวนยาง</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text" placeholder="Search" [(ngModel)]="searhText" class="form-control" /><br>
    <div class="col-md-12 " style="margin-top: 20px;">
      <div class="table-responsive" style="text-align:center; height: 500px;">
        <table border='1' width='100%' class="table table-hover" id="customers">
          <thead>
            <tr>
              <th>ชื่อแปลง</th>
              <th>ที่อยู่</th>
              <th>ละติจูด</th>
              <th>ลองจิจูด</th>
              <th>รายละเอียดของสวนยาง</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let any of SEARCH_plan_guest|filter:searhText;let i = index" (click)="click_plan_guest(any)">
              <td>{{ any.namePlantation }}</td>
              <td>{{ any.addressRubberPlantation }}</td>
              <td>{{ any.latitude }}</td>
              <td>{{ any.longitude }}</td>
              <td>{{ any.detail }}</td>
            </tr>
          </tbody>
        </table>
        <br>
      </div>
    </div>
  </div>
</ng-template> -->
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      หน้าแรก
      <small></small>
    </h1>
  </section>
  <div class="row">
    <div class="col-md-">
      <div class="form-group" style="font-size: 15px;margin-left: 65px;">
        <label>เลือกเจ้าของสวนยาง</label><br>
        <input type="text" [(ngModel)]="name_user">
        <label> &nbsp; </label>
        <button type="button" class="btn btn-primary" (click)="openModalWithClass(get_user_guest)">
          <i class="fa fa-search"></i></button>
      </div>
    </div>
    <div class="col-md-4" style="font-size: 15px;margin-left: 65px;">
      <div class="box box-solid">
        <div class="box-header with-border">
          <i class="fa  fa-map-marker"></i>
          <h3 class="box-title">ติดต่อ</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <blockquote>
            <p>ที่อยู่: {{address}}</p>
            <p>เบอร์โทรศัพท์: {{phone}}</p>
          </blockquote>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="form-group" style="font-size: 15px;margin-left: 65px;">
        <label>เลือกสวนยาง</label><br>
        <input type="text" [(ngModel)]="namePlantation">
        <label> &nbsp; </label>
        <button type="button" class="btn btn-primary" (click)="openModalWithClass(searchPic_plan_guest)">
          <i class="fa fa-search"></i></button>
      </div>
    </div> -->
  </div>
  <div id="map">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
      <agm-marker *ngFor="let m of markers;let i = index" (markerClick)="clickedMarker(m,i)" [latitude]="m.latitude"
        [longitude]="m.longitude">
        <!-- markerDraggable ทำให้จุดขยับได้ -->
        <agm-info-window>
          ชื่อแปลง:{{m.namePlantation}}<br>
          ที่อยู่สวน:{{m.addressRubberPlantation}}<br>
          <!-- รายละเอียด:{{m.detail}}<br> -->
          ชื่อเจ้าของสวน:{{m.name}}<br>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
  <div>
    <label style="margin-top:-100px;font-size: 20px;">ข้อมูลน้ำยางพาราประจำวันที่ {{date | date:'dd/MM/yyyy'}}</label>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-1">
        <div class="form-group" style="font-size: 15px">
          <button type="button" class="btn btn-primary" (click)="searchPic_farm_ALL()">ดูน้ำยางของสวนยางทั้งหมด
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 " style="margin-top: 20px;margin-left: 40px;">
        <input type="text" placeholder="Search" [(ngModel)]="searhText2" class="form-control" /><br>
        <div class="table-responsive" style="text-align:center; height: 600px;">
          <table border='2' width='100%' class="font table table-hover" style='border-collapse: collapse;'
            id="customers">
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th>ชื่อแปลง</th>
                <th>ที่อยู่สวนยาง</th>
                <th>ตำบล</th>
                <th>อำเภอ</th>
                <th>จังหวัด</th>
                <th>ชื่อเจ้าของสวน</th>
                <th>ปริมาณน้ำยาง(Kg)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let any of latex_farm|filter:searhText2 | paginate: { itemsPerPage: 20, currentPage: p } ;let i = index; " 
              tooltip="เบอร์โทรศัพท์:{{any.phoneNumber}}"
              placement="top">
                <td style="height: 30px">{{ i+1 }}</td>
                <td>{{ any.namePlantation }}</td>
                <td>{{ any.addressRubberPlantation }}</td>
                <td>{{ any.SubDistrict }}</td>
                <td>{{ any.district }}</td>
                <td>{{ any.province }}</td>
                <td>{{ any.name }}</td>
                <td>{{ any.quantity }}</td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>