<app-appheader-farmer></app-appheader-farmer>
<app-appmenu-farmer></app-appmenu-farmer>
<ng-template #AddFram>
  <div class="modal-header">
    <h4 class="modal-title pull-left">เพิ่มสวนยาง</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12 " style="margin-top: 20px;margin: 20px;">
      <div class="row">
        <div class="col-md-3" style="text-align: right;margin-top: 5px">
          ชื่อแปลง:
        </div>
        <div class="col-md-4">
          <div style="display: flex">
            <input type="text" class="form-control" id='01' [(ngModel)]="dataSet.LD_PART"
              (keyup)="checkinput1($event,02)" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" style="text-align: right;margin-top: 5px">
          ที่อยู่:
        </div>
        <div class="col-md-4">
          <div style="display: flex">
            <textarea [(ngModel)]="address" rows="4" cols="50"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" id="map">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
            (mapClick)="mapClick($event)">
            <agm-marker *ngFor="let m of markers;let i = index" (markerClick)="clickedMarker(m,i)" [latitude]="m.lat"
              [longitude]="m.lng" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m,$event)">
              <agm-info-window>
                {{m.name}}
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" style="text-align: right;margin-top: 5px">
          ละติจูด:
        </div>
        <div class="col-md-4">
          <div style="display: flex">
            <input type="text" class="form-control" id='01' [(ngModel)]="dataSet.LD_PART"
              (keyup)="checkinput1($event,02)" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" style="text-align: right;margin-top: 5px">
          ลองจิจูด:
        </div>
        <div class="col-md-4">
          <div style="display: flex">
            <input type="text" class="form-control" id='01' [(ngModel)]="dataSet.LD_PART"
              (keyup)="checkinput1($event,02)" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" style="text-align: right;margin-top: 5px">
          ลองจิจูด:
        </div>
        <div class="col-md-4">
          <div style="display: flex">
            <input type="text" id="14" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YY'}"
              [(ngModel)]="to_date">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button id="center" class="btn btn-pill-right btn-success ripple "
            (click)="click_del(any.TR_TRNBR)">บันทึก</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      จัดการสวนยาง
      <small></small>
    </h1>
  </section>
  <div class="row">
    <div class="col-md-2 " style="margin-top: 20px;">
      <a class="btn btn-app font" href="manage-rubber-add-farmer">
        <i class="fa fa-plus-circle "></i> เพิ่มสวนยาง
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 " style="margin-top: 20px;margin-left: 40px;">
      <div class="table-responsive" style="text-align:center; height: 600px;">
        <table class="font table table-hover" style='border-collapse: collapse;' id="customers">
          <thead>
            <tr>
              <th>ลำดับ</th>
              <th>ชื่อแปลง</th>
              <th>ที่อยู่</th>
              <!-- <th>จำนวนต้นยาง</th> -->
              <th>ละติจูด</th>
              <th>ลองจิจูด</th>
              <th>รายละเอียดของสวนยาง</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <div></div>
          <tbody>
            <tr *ngFor="let any of GET_Plantation;let i = index">
              <td style="height: 30px">{{ i+1 }}</td>
              <td>{{ any.namePlantation }}</td>
              <td>{{ any.addressRubberPlantation }}</td>
              <!-- <td>{{ any.numtree }}</td> -->
              <td>{{ any.latitude }}</td>
              <td>{{ any.longitude }}</td>
              <td>{{ any.detail }}</td>
              <td style="border: none;background-color: #ffff; width: 2px; ">
                <button class="btn btn-pill-right btn-success ripple font" data-dismiss="modal"
                  (click)="click_del(any.TR_TRNBR)">แก้ไข</button>
              </td>
              <td style="border: none;
                          background-color: #ffff; width: 2px; ">
                <button class="btn btn-pill-right btn-danger ripple font" data-dismiss="modal"
                  (click)="click_del(any.TR_TRNBR)">ลบ</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
